<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Tobi's Bundle</string>
	<key>ordering</key>
	<array/>
	<key>uuid</key>
	<string>0CA0898D-6D85-4B3A-99B6-2953A5468844</string>
</dict>
</plist>
